body {
    background-color: #f5f5f5;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #26a69a;
}

table {
    width: 100%;
    margin: 20px 0;
}

th {
    background-color: #26a69a;
    color: white;
}

#export-btn {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
}

.file-field .btn {
    background-color: #26a69a;
}

.file-field .btn:hover {
    background-color: #2bbbad;
}