body {
    background-color: #f5f5f5;
}

.container {
    margin-top: 50px;
}

h1 {
    color: #26a69a;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: separate;
    border-spacing: 15px; /* Esto separa las columnas */
    border: 1px solid #ddd; /* Esto agrega borde a la tabla */
}

th, td {
    padding: 8px; /* Esto agrega espaciado dentro de las celdas */
    text-align: left;
    border: 1px solid #ddd; /* Esto agrega borde a las celdas */
}

th {
    background-color: #26a69a;
    color: white;
}

#export-btn {
    margin-top: 20px;
}

.btn {
    margin-right: 10px;
}

.file-field .btn {
    background-color: #26a69a;
}

.file-field .btn:hover {
    background-color: #2bbbad;
}
